<div id="<%= dom_id beat %>">
  <p>
    <strong>Title:</strong>
    <%= beat.title %>
  </p>

  <p>
    <strong>Bpm:</strong>
    <%= beat.bpm %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= beat.genre %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= beat.description %>
  </p>

  <p>
    <strong>Scale:</strong>
    <%= beat.scale %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= beat.category.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= beat.price %>
  </p>
  <%= form_with(url: cart_add_path) do |cart| %>
      <%= cart.hidden_field :id, value: beat.id %>
      <%= cart.number_field :quantity, value: 1, min: 1, max: 1%>
      <%= cart.submit "Add To Cart" %>
  <% end %>
<br />

<strong>Image:</strong>
  <% if beat.image.attached? %>
 
      <%= image_tag beat.image, width:"150px"%>
  <% end %>

  <strong>Track:</strong>
    <% if beat.audio.attached? %>    
          <%= audio_tag(url_for(beat.audio), class:"message-audio", controls: "") %>
          <button><%= link_to "Download Beat", beat.audio, class: "html5" %></button>
      <% end %>
</div>